
<div class="container">
    <div class="gauche">
        <nb-card>
            <nb-card-body class="buttons-container" *ngIf="model">
                <button (click)="prev()"
                        [disabled]="!model.previous" 
                        nbButton>Previous</button>
                <button (click)="next()"
                        [disabled]="!model.next" 
                        nbButton>Next</button>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <nb-list *ngIf="model">
                    <nb-list-item *ngFor="let item of model.results"
                                  (click)="changePokemon(item.url)">
                        {{ item.name | titlecase }}
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="droite">
        <app-details [pokemonUrl]="url"></app-details>
    </div>
</div>