.container {
    display: flex;
    flex-direction: row;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
}
.gauche {
    width: 50%;
    padding-right: 1em;
}

.droite {
    width: 50%;
    padding-left: 1em;
}