<h1>*ngIf</h1>
<div>
    <div>
        <button (click)="maFonction()">Afficher</button>
    </div>
    <div *ngIf="isHidden">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci molestiae fugit praesentium voluptatibus provident! Neque aliquid sequi omnis tempora sit fugit ab ipsum nulla! Ipsam, tempora repellat? Accusamus, ipsum ratione.
    </div>
</div>

<h1>*ngFor</h1>
<div>
    <ul>
        <li *ngFor="let item of liste">{{item | titlecase}}</li>
    </ul>
</div>

<h1>Binding 2 ways</h1>
<input [(ngModel)]="maVariable">
<p>{{maVariable}}</p>

