<nb-card>
    <nb-card-header>
        <h1>{{model.name | uppercase}}</h1>
    </nb-card-header>
    <nb-card-body>
        <div>
            <img [src]="model.sprites.back_default">
            <img [src]="model.sprites.front_default">
            <hr>
            <p>Height: {{model.height / 10}} m</p>
            <p>Weight: {{model.weight / 10}} kg</p>
            <canvas baseChart
                    chartType="radar"
                    [labels]="labels"
                    [datasets]="datasets"
                    [options]="options">
            </canvas>
        </div>
    </nb-card-body>
</nb-card>
