<nb-card>
    <nb-card-header>
        <input type="text" nbInput [(ngModel)]="newItem">
        <button status="danger" nbButton (click)="add()" [disabled]="!newItem">+</button>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of shoppingList; let i = index">
                <!-- <button nbButton size="tiny" status="warning" (click)="remove(item)">-</button> -->
                <button nbButton size="tiny" status="warning" (click)="remove(i)">-</button>
                &nbsp;
                <span>Quantity: {{item.quantity}}</span>
                &nbsp;
                <span [ngClass]="{barre: item.isChecked}" (click)="check(item)">{{item.title}}</span>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>