<nb-layout>

  <nb-layout-header fixed>
    My Second Angular App
  </nb-layout-header>

  <nb-sidebar>
    <!-- contiendra bientôt notre menu -->
    <!-- <ul>
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a routerLink="about">About</a>
      </li>
    </ul> -->
    <nb-menu [items]="links"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    &copy; BSTORM - 2020
  </nb-layout-footer>

</nb-layout>
