<div>
    <input list="search" type="text" nbInput [(ngModel)]="cityName" (keypress)="getSuggestions()" (keyup.enter)="getMeteo()">
    <button (click)="getMeteo()" nbButton>Rechercher</button>
    <datalist id="search" *ngIf="model2">
        <option *ngFor="let s of model2.suggestions" value="{{s.label}}"></option>
    </datalist>
</div>
<nb-card *ngIf="model">
    <nb-card-header>
        <h4>{{model.sys.country}}, {{ model.name|uppercase }}</h4>
    </nb-card-header>
    <nb-card-body>
        <button (click)="getForeCast()" nbButton>Ajouter au Graphique</button>
        <img src="{{model.weather[0].icon|toUrl}}">
        <p>Temp Min: {{model.main.temp_min|toCelcius}} °C</p>
        <p>Temp Max: {{model.main.temp_max|toCelcius}} °C</p>
    </nb-card-body>
</nb-card>
    <div *ngIf="dataSets.length > 0" style="background-color:#FFF; height: 400px; width: 400px;">
        <canvas baseChart
                [datasets]="dataSets"
                chartType="line"
                [labels]="labels"
        >
        </canvas>
    </div>
